div.products{
	padding:10px;	
	margin:10px;
}

div.products hr{
	margin:10px 0px;
}

div.product img{
	height:50px;
	width:50px;
}

div.img_placeholder_container{
	height:50px;
	width:50px;
	padding:3px;
}

div.img_placeholder{
	display:block;
	height:100%;
	width:100%;
	background:#EEE;
}